body{
  background-image: url('https://paulbruzz.github.io/sitopersonale/other_pages/universe.gif');
  background-size: cover;
  color: #d3d3d3;
  font-size: 125%;
}
footer{
  clear: both;
}
q{
  font-family: monospace;
}
p{
  text-align: justify;
}
.warning-construction{
  padding: 1%;
  background-color: #e0472b;
  color: black;
}
.body-wrapper{
  width: 50vh;
  padding: 1%;
  border-style: solid;
  border-width: medium;
  border-radius: 2%;
  border-color: #3137fd;
  background: rgba(12, 10, 16, 0.8);
  max-width: 100vh;
  margin: auto;
  float: left;
}
.nav-wrapper{
  padding: 1%;
  background-color: #f7af7c;
  color: black;
}
.footer-wrapper{
  padding: 1%;
  background-color: #f7af7c;
  color: black;
  font-weight: bold;
  text-align: center;
  z-index: 1;
}
.sovereign-quote{
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}
.image-caption{
  text-align: center;
  font-size: 75%;
  padding-top: 0.5vh;
}
